<script setup lang="ts">
import {useAddressBookStore } from '@/stores/addressBookStore';
const addressBookStore = useAddressBookStore()

</script>

<template>
  <div>
    <div v-if="addressBookStore.isAddNew">
      <div>
        <label for="name">name : </label>
        <input id="name" type="text" v-model="addressBookStore.address.name" />
      </div>
      <div>
        <label for="gender">gender : </label>
        <select id="gender" v-model="addressBookStore.address.gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div>
        <label for="tel" >tel : </label>
        <input id="tel" type="text" v-model="addressBookStore.address.tel" />
      </div>
      <div>
        <button @click="addressBookStore.cancel">Cancel</button>
        <button @click="addressBookStore.save">Save</button>
      </div>
      <div>
        <pre>{{ addressBookStore.address }}</pre>
      </div>
</div>
    <div>
      <button @click="addressBookStore.isAddNew=!addressBookStore.isAddNew">Add</button>
      <table>
        <tr>
          <th>#</th>
          <th>name</th>
          <th>gender</th>
          <th>tel</th>
        </tr>
        <tr v-for="ad of addressBookStore.addressList" :key="ad.id">
          <td>{{ ad.id }}</td>
          <td>{{ ad.name }}</td>
          <td>{{ ad.gender }}</td>
          <td>{{ ad.tel }}</td>
          <td>
            <button @click="addressBookStore.edit(ad.id)">Edit</button>
            <button @click="addressBookStore.remove(ad.id)">Delete</button>
          </td>

        </tr>
      </table>
    </div>

  </div>
  
</template>

<style scoped>
input, select, label, button{
  font-family: 'Kanit';
  font-size: 20pt;
  margin: 5px;
}
</style>
