<script setup lang="ts">
import MessageList from '@/components/MessageList.vue'
import MessageBox from '@/components/MessageBox.vue'
import { ref } from 'vue';

const messages = ref<string[]>(['Message 1','Message 2','Message 3','Message 4'])
function send(message: string){
  messages.value.push(message)
}

</script>

<template>
  <div>
    <MessageList :messages="messages" />
    <MessageBox @send="send" />
  </div>

</template>