<script setup lang="ts">
import NumberButton from '@/components/NumberButton.vue';
import { ref } from 'vue';
const num1 = ref(0)
function num1Click(){
  num1.value++
}


</script>

<template>
  <div style="text-align: center;">
  <img style="width: 300px; border-radius: 50%;" src="@\assets\kirua.png" alt="" />
  <h3>คิรัวเขียด</h3>
  {{ num1 }}<NumberButton :num="0" @click="num1Click"></NumberButton>
  
  
  </div>

</template>
