<script setup lang="ts">
/*import HomeView from './views/HomeView.vue';
import ChatView from './views/ChatView.vue';
import AddressBookView from './views/AddressBookView.vue';*/
import { RouterView, RouterLink, useRoute, useRouter } from 'vue-router';

const router = useRouter()
const route = useRoute()
function gotoChat(){
    router.push({name: 'chat'})
}
</script>

<template>
 <ul>
    <li><RouterLink :class="{ active: route.name==='home'}" to="/">Home</RouterLink></li>
    <li><RouterLink :class="{ active: route.name=== 'chat' }" :to="{name: 'chat'}">Chat</RouterLink></li>
    <li><RouterLink :class="{ active: route.name=== 'address-book'}" :to="{path: '/address-book'}">Address book</RouterLink></li>
    <li><RouterLink :class="{ active: route.name==='home2'}" :to="{name: 'home2'}">Home 2</RouterLink></li>
    <li><RouterLink :class="{ active: route.name==='home3'}" :to="{name: 'home3'}">Home 3</RouterLink></li>
  </ul>
 <div>{{ route.path }}</div>
 <button @click="gotoChat()">Click to chat</button>
 <RouterView style="margin-left:25%;padding:1px 16px;height:1000px;"></RouterView>
</template>

<style scoped>
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

</style>
